@{
    ViewBag.Title = "Viva Interview Competition";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}
<h3>Please read the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Picking categories</h5>
        The Competitioniner will pick Competition categories for you.
    </li>

    <li class="two">
        <h5>You must answer all the Judgings</h5>
        All Judgings need to be answered.
    </li>

    <li class="three">
        <h5>Getting your results</h5>
        Your results may be emailed to you at the Competitioniner's discretion.
    </li>
</ol>
