@model Viva.CorporateSys.DanceMVC.ViewModels.JudgingViewModel

@{
    ViewBag.Title = "JudgingComplete";
}

<h2>Judging is now complete</h2>

<div>
    <h4>Please take the equipment back to the organiser.</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Back Home", "Index","Home")
</p>
