<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Development\VivaDance</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="dbOneDance" Order="1" Enabled="False">
          <Destination Path="Data Source=DAVIDYHPW8VMLIC;Initial Catalog=OneDance;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Test1234" Name="Data Source=DAVIDYHPW8VMLIC;Initial Catalog=OneDance;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Test1234;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Viva.CorporateSys.DanceMVC.Models.UsersContext, Viva.CorporateSys.DanceMVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbOneDance-Web.config Connection String">
      <ParameterValue>Data Source=DAVIDYHPW8VMLIC;Initial Catalog=OneDance;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Test1234;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>