<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\..\Viva.CorporateSys.Dance.Datastore.Tests\packages.config" />
  <repository path="..\..\Viva.CorporateSys.Dance.Datastore\packages.config" />
  <repository path="..\..\Viva.CorporateSys.DanceAPI\packages.config" />
  <repository path="..\..\Viva.CorporateSys.DanceMVC\packages.config" />
  <repository path="..\Viva.CorporateSys.Dance.Tests\packages.config" />
  <repository path="..\Viva.CorporateSys.Dance\packages.config" />
</repositories>